@use "../support/colors" as *;

@forward "../support/variables" with (
  $body-background-color: $ossia-light-background,
  $sidebar-color: $ossia-dark-grey,
  $border-color: $ossia-dark-grey,
  $body-text-color: $black,
  $body-heading-color: $ossia-dark-grey,
  $nav-child-link-color: $grey-dk-000,
  $search-text-color: $grey-lt-000,
  $search-result-preview-color: $grey-lt-300,
  $link-color: $ossia-light-blue,
  $active-link-color: $ossia-orange,
  $btn-primary-color: $blue-200,
  $base-button-color: $grey-dk-250,
  $code-background-color: $ossia-light-background,
  $search-background-color: $ossia-dark-grey,
  $table-background-color: $ossia-light-background,
  $body-heading-line-height: 1.75em
);
