$body-background-color: $ossia-light-background;
$sidebar-color: $ossia-dark-grey;
$border-color: $ossia-dark-grey;

$body-text-color: $black;
$body-heading-color: $ossia-dark-grey;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $ossia-dark-grey;

$link-color: $ossia-light-blue;
$active-link-color: $ossia-orange;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $ossia-light-background;
$search-background-color: $ossia-dark-grey;
$table-background-color: $ossia-light-background;
$border-color: $ossia-dark-grey;
$feedback-color: darken($sidebar-color, 3%);

$body-heading-line-height: 1.75em;
