//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: 300;
  font-family: 'Catamaran', sans-serif;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

h1{
    font-size: 38px;
    font-weight: 400;
}
    
h2.software{
    font-size: 42px !important;
    font-weight: 700 !important;
    color: $ossia-light-blue;
	letter-spacing: 1px;
	margin: 0;
    padding-top: 0.1em;
	padding-left: 0.24em;
	padding-bottom: 0.1em;
    line-height: 1;
    text-transform: none;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}


a {
	color: $link-color;
    font-weight: 400;
	text-decoration: none !important;
	border: 0;
}

a:not([class]) {
  text-decoration: none  !important;
}
a:hover, a:active, a.active{
    text-decoration: none !important;
    color: $active-link-color;
}

code {
  font-family: $mono-font-family;
  font-size: 0.75em;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
  min-width: 100%;
  width: 2em;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
.shortcut {
    display: inline-block;
    font-weight: 400;
    font-size: 9pt;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

ol > li::before {
/*   content:attr(data-badge);*/
/*   font-size:.7em;*/
   background:rgba(0, 255, 200, 0.5);
   color: #ffffff;
   width:18px;
   height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
   -moz-box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);

box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
/*   margin-top: 7px;*/
   float:left;
font-weight: bold;
border: 1px solid #ffffff;
}
