//
// Code and syntax highlighting
//
// stylelint-disable selector-no-qualifying-type, declaration-block-semicolon-newline-after,declaration-block-single-line-max-declarations, selector-no-type, selector-max-type

pre {
  padding: 0px;
}
code {
  padding: 0px;
  font-weight: 400;
  // background-color: $code-background-color;

  /*   border: $border $border-color; */
  border-radius: $border-radius;
}

// Content structure for highlighted code blocks using fences or Liquid
//
// ```[LANG]...```, no kramdown line_numbers:
//   div.[language-LANG.]highlighter-rouge > div.highlight > pre.highlight > code
//
// ```[LANG]...```, kramdown line_numbers = true:
//   div.[language-LANG.]highlighter-rouge > div.highlight > pre.highlight > code
//   > div.table-wrapper > table.rouge-table > tbody > tr
//   > td.rouge-gutter.gl > pre.lineno
//   | td.rouge-code > pre
//
// {% highlight LANG %}...{% endhighlight %}:
//   figure.highlight > pre > code.language-LANG
//
// {% highlight LANG linenos %}...{% endhighlight %}:
//   figure.highlight > pre > code.language-LANG
//   > div.table-wrapper > table.rouge-table > tbody > tr
//   > td.gutter.gl > pre.lineno
//   | td.code > pre
//
// fix_linenos removes the outermost pre when it encloses table.rouge-table
//
// See docs/index-test.md for some tests.
//
// No kramdown line_numbers: fences and Liquid highlighting look the same.
// Kramdown line_numbers = true: fences have a wider gutter than with Liquid?

// ```[LANG]...```
div.highlighter-rouge {
  padding: $sp-3;
  margin-top: 0;
  margin-bottom: $sp-3;
  // background-color: $code-background-color;
  border-radius: $border-radius;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;

  div.highlight,
  pre.highlight {
    padding: 2px 5px 2px 5px;
    margin: 0;
    border: 0;
    font-size: 0.95em;
  }
  code {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0.95em;
  }
}

// {% highlight LANG %}...{% endhighlight %},
// {% highlight LANG linenos %}...{% endhighlight %}:
figure.highlight {
  padding: $sp-3;
  margin-top: 0;
  margin-bottom: $sp-3;
  // background-color: $code-background-color;
  border-radius: $border-radius;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;

  pre,
  code {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

// ```[LANG]...```, kramdown line_numbers = true,
// {% highlight LANG linenos %}...{% endhighlight %}:
.highlight .table-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;

  td,
  pre {
    @include fs-2;
    min-width: 0;
    padding: 0;
    // background-color: $code-background-color;
    border: 0;
  }

  td.gl {
    padding-right: $sp-3;
  }

  pre {
    margin: 0;
    line-height: 2;
  }
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sa {
  color: #fb4934;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}

//
// Code examples (rendered)
//

.code-example {
  padding: $sp-3;
  margin-bottom: $sp-3;
  overflow: auto;
  + .highlighter-rouge,
  + figure.highlight {
    position: relative;
    margin-top: -$sp-4;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

